<%= form_with model: user, data: { reflex: "submit->UsersReflex#save", controller: "users", "user-id": user.try(:id) } do |f| %>
  <%= render partial: "layouts/error_messages", locals: {resource: user} %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :name, class: 'col-sm-5 col-form-label' %>
      <div class="col-sm-7">
        <%= f.text_field :name, class: 'form-control', placeholder: 'name...', required: true %>
      </div>
    </div>

    <div class="col-md-6">
      <%= f.label :email, class: 'col-sm-5 col-form-label' %>
      <div class="col-sm-7">
        <%= f.email_field :email, class: 'form-control', placeholder: 'email...', required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :password, class: 'col-sm-5 col-form-label' %>
      <div class="col-sm-7">
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <%= f.label :password_confirmation, class: 'col-sm-5 col-form-label' %>
      <div class="col-sm-7">
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
  </div>
  <% unless user.new_record? %>
  <div class="row">
    <div class="col-md-12 text-left">
      <%= f.label "Change password?", class: 'col-sm-5 col-form-label' %>
      <div class="col-sm-7 text-left">
        <%= f.check_box :change_password %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary btn-save" %>
      </div>
    </div>
  </div>
<% end %>
