<%= form_with model: user, data: { reflex: "submit->UserReflex#submit" } do |f| %>
  <%= render "layouts/error_messages", resource: user %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :name, class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: 'form-control', placeholder: 'name...', required: true %>
      </div>
    </div>

    <div class="col-md-6">
      <%= f.label :email, class: 'col-sm-4 col-form-label' %>
      <div class="col-sm-8">
        <%= f.email_field :email, class: 'form-control', placeholder: 'title...', required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <%= f.label :password, class: 'col-sm-6 col-form-label text-left' %>
        <div class="col-sm-6">
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <%= f.label :password_confirmation, class: 'col-sm-6 col-form-label text-left' %>
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary btn-save-meeting" %>
      </div>
    </div>
  </div>
<% end %>
