<div class="card mt-2 bg-light" id="user-<%= user.id %>">
  <div class="card-header">
    <%= user.name %>
  </div>
  <div class="card-body">
    <p class="card-title text-muted">
      E-mail: <%=user.email%><br />
      <small>Created at: <%=time_ago_in_words user.created_at %>, updated at: <%=time_ago_in_words user.updated_at %></small>
    </p>
    <p class="card-text lead">
      <%= button_tag 'Edit', type: :button, data: { reflex: "click->UsersReflex#edit", "user-id": user.id }, class: "btn btn-secondary btn-sm" %>
      <%= button_tag 'Destroy', type: :button, data: { reflex: "click->UsersReflex#destroy", "user-id": user.id }, class: "btn btn-danger btn-sm" %>
    </p>
  </div>
</div>
