<div class="card mt-2 bg-light" id="car-<%= car.id %>">
  <div class="card-header">
    <%= car.fipe_code %>
  </div>
  <div class="card-body">
    <p class="card-title text-muted">
      <table class="table">
        <thead>
          <tr class="d-flex">
            <th class="col-2">Brand</th>
            <th class="col-4">Model</th>
            <th class="col-2">Lisence Plate</th>
            <th class="col-2">Year Manufacture</th>
            <th class="col-2">Model Year</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex">
            <td class="col-2"><%=car.brand%></td>
            <td class="col-4"><%=car.model%></td>
            <td class="col-2"><%=car.lisence_plate%></td>
            <td class="col-2"><%=car.year_manufacture%></td>
            <td class="col-2"><%=car.model_year%></td>
          </tr>
        </tbody>
      </table>
      <small>Created at: <%=time_ago_in_words car.created_at %>, updated at: <%=time_ago_in_words car.updated_at %></small>
    </p>
    <p class="card-text lead">
      <%= button_tag 'Edit', type: :button, data: { reflex: "click->CarsReflex#edit", "car-id": car.id }, class: "btn btn-secondary btn-sm" %>
      <%= button_tag 'Destroy', type: :button, data: { reflex: "click->CarsReflex#destroy", "car-id": car.id }, class: "btn btn-danger btn-sm" %>
    </p>
  </div>
</div>
